<mat-nav-list class="border-r-2 border-gray-200  h-full grid grid-flow-col gap-y-4">
  <div class="flex flex-col gap-y-8 py-14 px-8">
    <a  class="flex align-middle w-full  gap-x-2 hover:font-bold cursor-pointer" routerLinkActive="active" (click)="navigatePage('vehicle-offer')">
      <mat-icon class="pr-4" aria-hidden="false" aria-label="Example home icon" fontIcon="local_shipping"></mat-icon>
      <span>Oferty</span>
    </a>

    <a class="flex align-middle w-full gap-x-2 hover:font-bold cursor-pointer" routerLinkActive="active" (click)="navigatePage('create')">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="local_shipping"></mat-icon>
      <span>Stwórz oferte</span>
      </a>

    <mat-divider></mat-divider>
    <button mat-flat-button color="primary" (click)="openTelerouteLoginDialog()">Teleroute Login</button>

    <mat-divider></mat-divider>

    <button class="mt-16" mat-flat-button color="primary" (click)="logout()">Wyloguj</button>
  </div>

</mat-nav-list>
