<mat-nav-list class="border-r-2 border-gray-200  h-[100vh] grid grid-flow-col gap-y-4">
  <div class="grid grid-cols-1 grid-rows-12 h-full px-8">
    <div class="row-span-1 flex items-center justify-center text-3xl">VOFFER</div>

    <div class="row-span-4  flex flex-col justify-evenly">
      <a class="w-full" mat-button (click)="navigatePage('vehicle-offer')">Twoje oferty
        <mat-icon fontIcon="chevron_right"></mat-icon>
      </a>
      <a class="w-full" mat-button (click)="navigatePage('create')">Stwórz ofertę
        <mat-icon fontIcon="chevron_right"></mat-icon>
      </a>

    </div>
    <div class="row-span-2 flex flex-col">
      <mat-divider></mat-divider>
      <button class="mt-8 w-full" mat-flat-button color="primary" (click)="openTelerouteLoginDialog()">Zaloguj się do
        Teleroute
      </button>
      <div class="text-sm font-semibold flex flex-row items-center gap-x-1 mt-4">
        @if (isTelerouteAuthenticated$ | async) {
          <mat-icon class="text-green-800" fontIcon="check_circle"></mat-icon>Zalogowano
        } @else {
          <mat-icon class="text-red-700" fontIcon="error"></mat-icon>Niezalogowano
        }
      </div>
<!--    <ngx-skeleton-loader count="2"></ngx-skeleton-loader>-->
    </div>
    <div class="row-span-5  flex flex-col justify-end pb-12">
      <mat-divider></mat-divider>
      <button class="mt-8" mat-flat-button color="primary" (click)="logout()">Wyloguj</button>
    </div>
  </div>

</mat-nav-list>
