<div class="loading">
  <div class="text-2xl pb-4">Załadunek</div>
  <div>
    <div class="grid grid-cols-6 xl:grid-cols-12 gap-x-4">
      <app-country-selector class="grid col-span-2 xl:col-span-3" type="loading"></app-country-selector>
      <mat-form-field class="grid col-span-4 xl:col-span-9 ">
        @if (this.formService.getControl('loadingPostalCode').value !== '') {
          <mat-label>{{ this.formService.getControl('loadingPostalCode').value }}</mat-label>
        } @else {
          <mat-label>Kod pocztowy, miasto</mat-label>
        }
        <input  [formControl]="this.formService.getControl('loadingCity')"  matInput
               placeholder="Kod pocztowy, miasto"
               [matAutocomplete]="auto">
        @if(showLocationLoader$ | async) {
        <button matSuffix mat-icon-button disabled>
          <mat-spinner diameter="24"></mat-spinner>
        </button>
        }
        @if (this.formService.getControl('loadingCity').value !== '') {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="clearLoadingFields()">
            <mat-icon fontIcon="clear"></mat-icon>
          </button>
        }
        <mat-autocomplete #auto="matAutocomplete">
          @for (option of locations$ | async; track option) {
            <mat-option class="pt-2" (click)="setValues(option)" value="{{option.city}}">
              <div class="pb-1">{{ option.city }} {{ option.postalCode }}</div>
              <div class="text-xs">({{ option.displayName }})</div>
            </mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="grid grid-cols-2 xl:grid-cols-12 gap-x-4">
      <app-calendar class="grid col-span-2 xl:col-span-6" type="loading"></app-calendar>
      <app-time-picker class="grid col-span-1 xl:col-span-3" time="loadingStartTime"></app-time-picker>
      <app-time-picker class="grid col-span-1 xl:col-span-3" time="loadingEndTime"></app-time-picker>
    </div>
  </div>
</div>
