<div class="grid grid-cols-6 gap-x-4">
  <mat-form-field class="col-span-2 row-span-1">
    <mat-label>Typ pojazdu</mat-label>
    <mat-select [formControl]="goodsTypeControl" >
      @for (goodType of goodsTypeList;track goodType.code) {
        <mat-option   [value]="goodType.code">{{goodType.description}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field class="col-span-4 row-span-1">
    <mat-label>Typ nadwozia</mat-label>
    <mat-select [formControl]="vehicleTypeControl">
      @for (vehicleType of filteredList ; track vehicleType.vehicleType) {
        <mat-option [value]="vehicleType.vehicleType">{{vehicleType.vehicleType}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>

