<div class="text-2xl pb-8 2xl:pb-12">Stwórz ofertę</div>

<form class="pt-8" [formGroup]="formService.form">
  <div class="grid grid-cols-2 gap-x-4">
    <app-loading-section [ngClass]="'col-span-1'"></app-loading-section>
    <app-unloading-section [ngClass]="'col-span-1'"></app-unloading-section>
  </div>
  <div *ngIf="formService.form.errors?.['unloadingBeforeLoading']"
       class="text-engineering-orange flex flex-row items-center mt-2">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="error"></mat-icon>
    Czas rozładunku nie może być przed czasem załadunku.
  </div>
  <div *ngIf="formService.form.errors?.['loadingStartAfterEnd']" class="text-engineering-orange mt-2">
    Czas załadunku nie może być przed czasem rozładunku.
  </div>
  <div *ngIf="formService.form.errors?.['unloadingStartAfterEnd']" class="text-engineering-orange mt-2">
    Czas rozładunku nie może być przed czasem rozładunku.
  </div>
  <div class="w-full py-4 2xl:py-8 flex flex-row items-center gap-x-8">
    <div class="flex items-center">
      <p-radiobutton inputId="FTL" value="FTL" [formControl]="truckLoad"></p-radiobutton>
      <label for="FTL" class="ml-2">FTL</label>
    </div>
    <div class="flex items-center">
      <p-radiobutton inputId="LTL" value="LTL" [formControl]="truckLoad"></p-radiobutton>
      <label for="LTL" class="ml-2">LTL</label>
    </div>
  </div>

  <div class="grid grid-cols-12  gap-4">
    <mat-form-field class="col-span-2 row-span-1">
      <mat-label>Waga (tony)</mat-label>
      <input [formControl]="weight" matInput min="1" max="999" type="number" placeholder="max 999">
      <mat-hint> Min 1 / Max 999</mat-hint>
    </mat-form-field>

    <mat-form-field class=" col-span-2 row-span-1">
      <mat-label>Długość (metry)</mat-label>
      <input [formControl]="length" matInput min="1" max="25" type="number" placeholder="max 25">
      <mat-hint> Min 1 / Max 25</mat-hint>

    </mat-form-field>

    <mat-form-field class="col-span-2 row-span-1">
      <mat-label>Wolumen</mat-label>
      <input [formControl]="volume" matInput min="1" max="999" type="number" value="" placeholder="max 999">
      <mat-hint> Min 1 / Max 999</mat-hint>

    </mat-form-field>

    <mat-form-field class="col-span-6 row-span-2">
      <mat-label>Opis</mat-label>
      <textarea [formControl]="description" class="textarea1" matInput placeholder="Opis..."></textarea>
    </mat-form-field>
    <app-vehicle-selector class="col-span-6"></app-vehicle-selector>

  </div>
  <div class="flex flex-row gap-x-4 pt-8">
    @if (this.isLoading$ | async) {
      <p-button styleClass="w-[25vh]" label="Stwórz ofertę" icon="pi pi-check" [loading]="true" [rounded]="true"/>

    } @else {
      <p-button label="Stwórz ofertę" [rounded]="true" styleClass="w-[25vh]" [disabled]="!isFormValid"
                (click)="submitOffer()"/>
    }


    @if (!(this.isTelerouteAuthenticated$ | async)) {
      <p-button label="Zaloguj się do Teleroute" [rounded]="true" styleClass="w-[25vh]"
                (click)="openTelerouteLoginDialog()"/>

    }


  </div>
</form>

