/* You can add global styles to this file, and also import other style files */

$midnight-green: #004f4fff;
$platinum: #e0e3e2ff;
$night: #101414ff;
$asparagus: #698f3fff;
$engineering-orange: #c20114ff;
@use "@angular/material" as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;
html, body {
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


html {
  //color-scheme: light dark;
  @include mat.theme((
    typography: Roboto,
    density: 0
  ));
}

mat-mdc-row {
  height: 52px
}
$defaultBlack: #0f0f0f;
$defaultWhite: #ffffff;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.button-overrides((
    filled-container-color: $defaultBlack,
    filled-label-text-color: $defaultWhite,
  ));
  @include mat.radio-overrides((
    disabled-selected-icon-color: $defaultBlack,
    disabled-unselected-icon-color: $defaultWhite,
    selected-icon-color: $defaultBlack,
    unselected-icon-color: $defaultBlack,

  ));
  //menu
  @include mat.menu-overrides((
    item-label-text-color: $defaultBlack,
    item-icon-color: $defaultBlack,
    container-color:$defaultWhite,
    divider-color: $defaultBlack,
  ));
  //spinner
  @include mat.progress-spinner-overrides((
    active-indicator-color: $defaultBlack,
  ));

}

